<div class="filters">
  <%= form_tag invitations_path, method: :get, class: 'filter-form' do %>
    <%= text_field_tag :name,
        params[:name],
        placeholder: 'Buscar por nome',
        class: 'filter-input' %>

    <%= select_tag :company_id,
        options_from_collection_for_select(Company.all, :id, :name, params[:company_id]),
        prompt: 'Selecione uma empresa',
        class: 'filter-input' %>

    <div class="date-inputs">
      <%= date_field_tag :start_date,
          params[:start_date],
          class: 'filter-input',
          placeholder: 'Data inicial' %>

      <%= date_field_tag :end_date,
          params[:end_date],
          class: 'filter-input',
          placeholder: 'Data final' %>
    </div>

    <div class="filter-actions">
      <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
      <%= link_to 'Limpar', invitations_path, class: 'btn btn-outline' %>
    </div>
  <% end %>
</div>