<!DOCTYPE html>
<html>
  <head>
    <title>VIK Invites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', type: 'module', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <%= link_to 'VIK Invites', root_path, class: 'brand' %>
        <% if admin_signed_in? %>
          <div class="nav-links">
            <%= link_to 'Convites', invitations_path,
                class: current_page?(invitations_path) ? 'active' : '' %>

            <%= link_to 'Empresas', companies_path,
                class: current_page?(companies_path) ? 'active' : '' %>

            <% if admin_signed_in? %>
              <%= link_to 'Minha Conta', admin_profile_path,
                  class: current_page?(admin_profile_path) ? 'active' : '' %>

              <%= button_to 'Sair', destroy_admin_session_path,
                  method: :delete,
                  class: 'btn btn-outline',
                  form: { class: 'd-inline' } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
